@if (IsVisible)
{
    <div class="overlay">
        <MudPaper Class="loading-container" Elevation="6">
            <div class="loading-content">
                <MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary" />
                <AnimatedStatusText Messages="@Messages" IntervalMs="2000" />
            </div>
        </MudPaper>
    </div>
}