@inherits LayoutComponentBase
<MudThemeProvider @ref="_mudThemeProvider" Theme="ModForgeThemes.DarkTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudMainContent Style="padding-top: 6px">
		@if (!_isLoaded)
		{
			<div class="loading-screen">Lädt...</div>
		}
		else
		{
			@Body
		}
	</MudMainContent>
	<StartupLoader />
</MudLayout>