@inherits LayoutComponentBase
<MudThemeProvider @ref="_mudThemeProvider" Theme="ModForgeThemes.DarkTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@if (!isLoaded)
{
	<div class="loading-screen" style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; position: absolute; z-index: 999;">
		<LoadingOverlay IsVisible="!isLoaded" />
	</div>
}
<MudLayout Style="height: 100vh; backdrop-filter: blur(5px);">
	<MudDrawer @bind-Open="drawerOpen" Fixed OpenMiniOnHover ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Mini" Elevation="2" Style="height: 100vh;">
		<NavMenu />
	</MudDrawer>
	<MudMainContent>
		@Body
	</MudMainContent>
	<StartupLoader />
</MudLayout>
