@page "/editing/perk/{Id}"

@* <NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="ConfirmNavigation" /> *@

<MudItem>
	<div class="tabs-container">
		<div class="tabs-header">
			<MudTabs @bind-ActivePanelIndex="selectedTab" Class="custom-tabs" Elevation="0">
				<MudTabPanel Text="Perk">
				</MudTabPanel>
				<MudTabPanel Disabled Text="Perk Localization">
				</MudTabPanel>
			</MudTabs>
		</div>
	</div>
</MudItem>

<div class="tabs-content">
	@if (selectedTab == 0)
	{		
		<MudPaper Class="d-flex flex-column overflow-x-auto" Height="calc(100vh - 148px)" Elevation="0" Outlined="false" Style="background-color: transparent">
			<PerkEditingItem EditingPerk="editingPerk" OriginalPerk="originalPerk"></PerkEditingItem>
		</MudPaper>
	}
	else if (selectedTab == 1)
	{

		<MudPaper Class="d-flex flex-column overflow-x-auto" Height="calc(100vh - 146.5px)" Elevation="0" Outlined="false" Style="background-color: transparent">
			<LocalizationComponent EditingModItem="editingPerk" OriginalModItem="originalPerk"></LocalizationComponent>
		</MudPaper>
	}
</div>

<MudStack Row="true" Class="px-4 mt-4">
	<MudButton Class="button-cancel" FullWidth="true" Variant="Variant.Outlined" Color="Color.Error" OnClick="Cancel">Cancel</MudButton>
	<MudButton Class="button-prominent" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" OnClick="SavePerk">Save & Continue Modding</MudButton>
	<MudButton Class="button-prominent" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" OnClick="Checkout">Create Mod</MudButton>
</MudStack>

