@if (Buff is not null)
{

	<MudItem xs="3" sm="3" md="3">
		<MudCard Class="card no-select card-hover-effect" @onclick="EditBuff" Outlined="true" Style="border-color: #c1c1c4; cursor: pointer">
			<MudCardContent>
				<div style="display:flex; justify-content:center; padding-bottom:1rem">
					<MudImage Src="images/Icons/Trigger_icon.png" ObjectPosition="ObjectPosition.Center" />
				</div>
				@if (Buff.Localization == null ||
							(Buff.Localization.Names == null ||
							Buff.Localization.Names.Count == 0))
				{
					<div style="display:flex; justify-content:center;">
						<MudText Align="Align.Center" Typo="Typo.caption">System Buff</MudText>
					</div>
					<div style="display:flex; justify-content:center;">
						<MudText Align="Align.Center" Style="font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20rem;" Typo="Typo.subtitle1">@(Buff.Attributes.FirstOrDefault(x => x.Name.Contains("name"))?.Value ?? "No Name found")</MudText>
					</div>
				}
				else
				{
					<div style="display:flex; justify-content:center;">
						<MudText Align="Align.Center" Typo="Typo.caption">Buff</MudText>
					</div>
					<div style="display:flex; justify-content:center;">
						<MudText Align="Align.Center" Style="font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20rem;" Typo="Typo.subtitle1">@(Buff.Localization.GetName(languageKey) ?? "No Name")</MudText>
					</div>
				}


			</MudCardContent>
		</MudCard>
	</MudItem>
}