@if (Attribute is not null)
{
	<MudGrid Justify="Justify.SpaceBetween" Style="align-items: center;" Class="pa-1">
		<MudItem>
			<MudText>@FormatLabel(Attribute.Name)</MudText>
		</MudItem>
		<MudItem>
			<MudIconButton Icon="@Icons.Material.Filled.Close"
						   OnClick="@(() => Remove())"
						   Size="Size.Small"
						   Color="Color.Error" />
		</MudItem>
	</MudGrid>

	<div class="grow-container">
		<MudNumericField style="border-bottom: 2px solid #a14b00AA !important; text-align: center; font-size: 1.1rem; background-color: transparent !important;"
						 Immediate="false" @bind-Value="CurrentValue" Dense="true"
						 FullWidth="false"
						 Margin="Margin.Dense"
						 Underline="false"
						 Variant="Variant.Text" Class="ma-3 align-input-center" HideSpinButtons="true" />
	</div>
}
