<div class="button-widget">
	<MudStack Row AlignItems="AlignItems.Center" Spacing="2">
		<MudIcon Icon="@Icons.Material.Filled.AddBox" Style="color: var(--background);" Size="Size.Medium" />
		<MudText Typo="Typo.h4" Style="color: var(--background); font-weight: bold;">@Title</MudText>
	</MudStack>
</div>