<div class="button-widget" style="background: @Background; width: @Width;" onclick="@ButtonClick">
	<MudStack Row AlignItems="AlignItems.Center" Spacing="2">
		<MudText Align="Align.Center" Typo="@Typo" Style="color: var(--background); font-weight: bold;">@Title.ToUpper()</MudText>
	</MudStack>
</div>