@if (Attribute is not null)
{
	<MudGrid Justify="Justify.SpaceBetween" Style="align-items: center;" Class="pa-1">
		<MudItem>
			<MudText>@FormatLabel(Attribute.Name)</MudText>
		</MudItem>
	</MudGrid>

	<div class="grow-container">
		<MudSelect T="string"
				   @bind-Value="CurrentValueString"
				   Dense="true"
				   FullWidth="false"
				   Margin="Margin.Dense"
				   Underline="false"
				   Variant="Variant.Text" Class="ma-3" style="border-bottom: 2px solid var(--mud-palette-primary) !important; text-align: center; font-size: 1.1rem; background-color: transparent !important;">
			<MudSelectItem T="string" Value="@("True")">True</MudSelectItem>
			<MudSelectItem T="string" Value="@("False")">False</MudSelectItem>
		</MudSelect>
	</div>
}