@if (Attribute is not null)
{

    @if (enumNames.Any())
    {
		<MudGrid Justify="Justify.SpaceBetween" Style="align-items: center;" Class="pa-1">
			<MudItem>
				<MudText>@GetTypeLabel()</MudText>
			</MudItem>
		</MudGrid>

		<div class="grow-container">
		<MudSelect style="border-bottom: 2px solid #a14b00AA !important; text-align: center; font-size: 1.1rem; background-color: transparent !important;"
				   Immediate="false" @bind-Value="CurrentEnumString" Dense="true"
				   FullWidth="false"
				   Margin="Margin.Dense"
				   Underline="false"
				   Variant="Variant.Text" Class="ma-3 align-input-center">

            @foreach (var enumName in enumNames)
            {
                <MudSelectItem T="string" Value="@enumName">
                    @enumDisplayNames[enumName]
                </MudSelectItem>
            }

        </MudSelect>
		</div>
    }
}
